<template>
    <section class="auth">
        <div class="auth-wrapper">
            <h1 class="subtitle">Вход в панель управления</h1>

            <b-field :type="{ 'is-danger': wrongCredentialsValidation }" label="Логин">
                <b-input @input="resetValidation" v-model="username"></b-input>
            </b-field>

            <b-field :type="{ 'is-danger': wrongCredentialsValidation }" label="Пароль">
                <b-input @input="resetValidation" v-model="password" type="password">
                </b-input>
            </b-field>
            <span
                v-if="wrongCredentialsValidation"
                style="margin-top: 13px; margin-bottom: 13px; display: block; color: red"
            >
                Аккаунт с такими данными не найден</span>
            <b-field>
                <b-checkbox v-model="keepLogged">Оставаться в системе</b-checkbox>
            </b-field>

            <b-button @click="performAuth" type="is-primary">Войти</b-button>
        </div>
    </section>
</template>

<script>
export default {
    data () {
        return {
            username: 'admin',
            password: '123123',
            keepLogged: true,
            wrongCredentialsValidation: false
        }
    },
    methods: {
        performAuth() {
            const authObject = {
                username: this.username,
                password: this.password
            }

            this.$http.post('http://localhost:3000/auth/login', authObject)
            .catch(() => {
                this.wrongCredentialsValidation = true
            })
            .then(res => {
                const token = res.data.access_token
                if(this.keepLogged) {
                    localStorage.setItem('token', token)
                }
                this.$store.commit('set_admin_logged', true)
                this.$store.commit('set_token', token)
                this.$router.push('/admin')
            })
        },
        resetValidation () {
            this.wrongCredentialsValidation = false
        }
    }
}
</script>

<style>
    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    .auth-wrapper {
        width: 300px;
    }
</style>