<template>
    <div class="admin">
        <div class="admin__sub-panel">
            <h1 class="title">Панель управления</h1>
            <b-button @click="createNewSession">
                Создать сеанс
            </b-button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Количество мест</th>
                    <th>Дата</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody v-if="sessions">
                <tr v-for="session in sessions" :key="session._id">
                    <td>
                        <div class="table-id">{{ session._id }}</div>
                    </td>
                    <td>{{ session.title }}</td>
                    <td>{{ session.description }}</td>
                    <td>{{ session.max_seats }}</td>
                    <td>{{ new Date(session.date).toLocaleString() }}</td>
                    <td>
                        <div class="table-actions">
                        <b-button @click="viewSession(session._id)" size="is-small">
                            <i class="fa fa-eye"></i>
                        </b-button>
                        <b-button @click="editSession(session._id)" size="is-small">
                            <i class="fa fa-solid fa-pencil"></i>
                        </b-button>
                        <b-button @click="deleteSession(session._id)" size="is-small">
                            <i class="fa fa-solid fa-trash"></i>
                        </b-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="true"></b-loading>
    </div>
</template>

<script>
export default {
    computed: {
        sessions () {
            return this.$store.getters.sessions
        },
        isLoading () {
            return this.$store.getters.is_loading
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.$store.dispatch('fetch_sessions')
        })
    },
    methods: {
        viewSession (id) {
            this.$router.push({ name: 'TicketDetails', params: { id } })
        },
        editSession (sessionId) {
            this.$router.push({ name: 'UpdateSession', params: { sessionId } })
        },
        createNewSession () {
            this.$router.push({ name: "CreateSession" })
        },
        async deleteSession (sessionId) {
            await this.$store.dispatch('remove_session', { sessionId })
            this.$store.dispatch('fetch_sessions')
        }
    }
}
</script>

<style lang="scss">
    .admin__sub-panel {
        display: flex;
        justify-content: space-between;
    }
    .table {
        word-break: break-word;
        width: 100%;
    }
    .table-id {
        width: 75px;
    }
    .table-actions {
        display: flex;
        gap: 5px;
        button {
            height: 35px;
            width: 35px;
        }
    }
</style>