<template>
    <div class="session-details">
        <div v-if="!isLoading" class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child">
                    <div class="session-form">
                        <b-field
                            :type="{ 'is-danger': $v.sessionValidation.title.$invalid }"
                            :message="validationMessages.title"
                            label="Название выступления"
                        >
                            <b-input v-model="session.title"></b-input>
                        </b-field>
                        <b-field
                            :type="{ 'is-danger': $v.sessionValidation.description.$invalid }"
                            :message="validationMessages.description"
                            label="Описание"
                        >
                            <b-input v-model="session.description" type="textarea"></b-input>
                        </b-field>
                        <b-field
                            label="Стоимость (₽)"
                        >
                            <b-input v-model="session.cost"></b-input>
                        </b-field>
                        <b-field v-if="!sessionId" :label="'Количество мест: ' + session.max_seats">
                            <b-slider
                                :min="1"
                                :max="36"
                                :tooltip="false"
                                size="is-large"
                                v-model="session.max_seats"
                            ></b-slider>
                        </b-field>
                        <b-field label="Дата проведения">
                            <b-datetimepicker
                                v-model="date"
                                horizontal-time-picker
                                :icon="'fa-solid fa-calendar'"
                                :icon-pack="'fa'"
                                :position="'is-top-right'"
                            >
                            </b-datetimepicker>
                        </b-field>
                    </div>
                </article>
            </div>
            <div v-if="sessionId" class="tile is-parent">
                <article class="tile is-child">
                    <div class="occupied_seats">
                        <div class="title">Места в зале</div>
                        <ul class="occupied_seats__wrapper">
                            <li
                                v-for="seat in seats"
                                :key="seat.seatNumber"
                                class="seat"
                                :class="{ 'seat--occupied': seat.isOccupied }"
                                @click="fetchTicket(seat)"
                            >
                                {{ seat.seatNumber }}
                            </li>
                        </ul>
                    </div>
                    <div v-if="currentTicket && !unoccupiedSeatSelected" class="selected_ticket" style="margin-top: 30px;">
                        <b-loading :is-full-page="false" v-model="isTicketLoading" :can-cancel="true"></b-loading>
                        <div class="subtitle">Билет №{{ currentTicket._id }}</div>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Телефон</th>
                                        <th>Дата покупки</th>
                                        <th>Стоимость (₽)</th>
                                        <th>Место в зале</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>{{ currentTicket.phone }}</div>
                                        </td>
                                        <td>
                                            <div>{{ new Date(currentTicket.date).toLocaleString() }}</div>
                                        </td>
                                        <td>
                                            <div>{{ currentTicket.cost }}</div>
                                        </td>
                                        <td>
                                            <div>{{ currentTicket.seat }}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div v-else-if="unoccupiedSeatSelected"  class="selected_ticket" style="margin-top: 30px;">
                        <div class="subtitle">Это место ещё не занято</div>
                    </div>
                </article>
            </div>
        </div>
        <b-button style="margin-right: 5px;" @click="goBack">
            Назад
        </b-button>
        <b-button :disabled="$v.sessionValidation.$invalid" @click="save">
            Сохранить
        </b-button>
        <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="true"></b-loading>
    </div>
</template>

<script>
import { required, minLength, maxLength, minValue, maxValue } from 'vuelidate/lib/validators'

export default {
    data () {
        return {
            sessionValidation: {},
            unoccupiedSeatSelected: false
        }
    },
    validations: {
        sessionValidation: {
            title: {
                required,
                minLength: minLength(4),
                maxLength: maxLength(30),
            },
            description: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(120),
            },
            max_seats: {
                required,
                minValue: minValue(1),
                maxValue: maxValue(36),
            },
        }
    },
    computed: {
        session () {
            const session = this.$store.getters.current_session

            if(!session) {
                return {
                    title: ' ',
                    description: '',
                    date: new Date(),
                    max_seats: 10,
                    occupied_seats: [],
                    cost: 0
                }
            }

            return { ...session }
        },
        date: {
            get() {
                return new Date(this.session.date)
            },
            set(newDate) {
                this.session.date = new Date(newDate).toUTCString()
            }
        },
        seats () {
            const seatsDetailed = []

            for(let seatNumber = 1; seatNumber <= this.session.max_seats; ++seatNumber) {
                seatsDetailed.push({
                    seatNumber,
                    isOccupied: this.session.occupied_seats.some(occupiedSeatNumber => occupiedSeatNumber === seatNumber)
                })
            }

            return seatsDetailed
        },
        sessionId () {
            return this.$route.params.sessionId
        },
        isLoading () {
            if(!this.sessionId) {
                return false
            }

            return !this.session._id
        },
        isTicketLoading () {
            if(this.unoccupiedSeatSelected) {
                return false
            }

            return !this.currentTicket
        },
        validationMessages () {
            return {
                title: {
                    'Название необходимо заполнить': !this.$v.sessionValidation.title.required,
                    'Минимальная длина названия - 4 символа': !this.$v.sessionValidation.title.minLength,
                    'Максимальная длина названия - 30 символов': !this.$v.sessionValidation.title.maxLength,
                },
                description: {
                    'Описание необходимо заполнить': !this.$v.sessionValidation.description.required,
                    'Минимальная длина описания - 1 символ': !this.$v.sessionValidation.description.minLength,
                    'Максимальная длина описания - 120 символов': !this.$v.sessionValidation.description.maxLength,
                }
            }
        },
        currentTicket () {
            return this.$store.getters.current_ticket
        }
    },
    async created () {
        if(!this.sessionId) {
            this.$store.commit('set_current_session', null)
        } else {
            await this.$store.dispatch('fetch_session_by_id', { sessionId: this.sessionId })
        }

        this.initValidations()
    },
    methods: {
        goBack () {
            this.$store.commit('set_current_session', null)
            this.$store.commit('set_current_ticket', null)
            this.$router.push("/admin")
        },
        async save () {
            const session = this.session

            if(!this.sessionId) {
                await this.$store.dispatch('create_session', session)
            } else {
                await this.$store.dispatch('update_session', session)
            }
            
            this.goBack()
        },
        initValidations () {
            this.sessionValidation = this.session
            
            this.$v.sessionValidation.$touch
        },
        fetchTicket (seat) {
            this.unoccupiedSeatSelected = false
            this.$store.commit('set_current_ticket', null)

            if(!seat.isOccupied) {
                this.unoccupiedSeatSelected = true
                return
            }

            const params = {
                sessionId: this.session._id,
                seat: seat.seatNumber
            }

            this.$store.dispatch('fetch_ticket', params)
        }
    }
}
</script>

<style lang="scss">
    .occupied_seats {
        margin-top: 20px;
        &__wrapper {
            display: flex;
            gap: 8px;
            max-width: 400px;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;

            .seat {
                width: 40px;
                height: 40px;
                background: rgb(184, 184, 184);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(0, 0, 0);

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }

                &--occupied {
                    background: #70ce8c;
                }
            }
        }

    }
    .session-form {
        margin-top: 30px;
        width: 500px;
    }
</style>