<template>
    <nav class="main-panel panel is-primary">
        <div
            style="display: flex; justify-content: space-between; align-items: center;"
            class="panel-heading"
        >
            <b-tooltip
                style="height: 30px;"
                label="Выполнил: Сали Одабаши И-2-18" position="is-right" type="is-primary is-light"  dashed>
                Продажа билетов
            </b-tooltip>
            <div class="btns-group" style="display: flex; gap: 10px;">
                <b-button v-if="isAdminPage" type="is-link is-light" @click="backToRoot">Вернуться на сайт</b-button>
                <b-button v-if="!isAdminPage" type="is-link is-light" @click="toAdmin">Панель управления</b-button>
                <b-button v-if="isLoggedIn" type="is-link is-light" @click="logout">Выйти</b-button>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    computed: {
        isLoggedIn () {
            return this.$store.getters.is_admin_logged
        },
        isAdminPage () {
            return this.$route.path.includes('admin')
        }
    },
    methods: {
        logout () {
            localStorage.removeItem('token')
            this.$store.commit("set_admin_logged", false);
            this.$store.commit("set_token", "");
            this.backToRoot()
        },
        backToRoot () {
            this.$router.push('/')
        },
        toAdmin () {
            this.$router.push('/admin')
        }
    }
}
</script>

<style lang="scss">
    .main-panel.panel {
        .panel-heading {
            border-radius: 0;
        }
    }
</style>