<template>
  <div class="home">
    <section
      v-for="(session, index) in sessions"
      :key="session._id"
      :class="`hero is-${getHeroStyle(index)}`"
    >
      <div class="hero-body">
        <p class="title">
          {{ session.title }}
        </p>
        <p class="subtitle">
          {{ session.description }}
        </p>
        <b-button
          :type="`is-${getHeroStyle(index)}`" inverted outlined
          @click="goToTicketDetails(session._id)"
        >Купить билет</b-button>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  computed: {
    sessions () {
      return this.$store.getters.sessions
    },
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.dispatch('fetch_sessions')
    })
  },
  methods: {
    getHeroStyle (index) {
      const mainStyles = [
        'warning', 'danger', 'success', 'info', 'link'
      ]

      const dict = []

      while(dict.length < this.sessions.length) {
        dict.push(...mainStyles)
      }

      return dict[index]
    },
    goToTicketDetails(id) {
      this.$router.push({ name: 'TicketDetails', params: { id } })
    }
  }
}
</script>

<style lang="scss">
  .home {
    .hero {
      margin-bottom: 30px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.9;
        transform: scale(0.99);
      }
    }
    button {
      transition: all 0.3s;
    }
  }
</style>
