<template>
  <div class="ticket-details">
    <b-button @click="goBack" type="is-primary is-light" style="margin-bottom: 30px">Вернуться на главную</b-button>
    <div v-if="session" class="tile is-ancestor">
      <div class="tile is-parent">
          <article class="tile is-child">
            <div v-if="session" class="ticket-details__wrapper">
              <div class="title" style="margin-bottom: 50px">{{ session.title }}</div>
              <div class="subtitle" style="margin-bottom: 50px">{{ session.description }}</div>
              <div class="subtitle">Дата проведения: {{  new Date(session.date).toLocaleString() }}</div>
              <div class="subtitle">Стоимость: {{  session.cost }}₽</div>
            </div>
          </article>
      </div>
      <div class="tile is-parent">
        <div class="user occupied_seats">
            <div class="title">Места в зале</div>
            <ul class="occupied_seats__wrapper">
                <li
                    v-for="seat in seats"
                    :key="seat.seatNumber"
                    class="seat"
                    :class="{ 'seat--occupied': seat.isOccupied, 'seat--selected': isSelected(seat) }"
                    @click="selectTicket(seat)"
                >
                    {{ seat.seatNumber }}
                </li>
            </ul>
            <div v-if="selectedTicket" style="margin-top: 50px;">
              <p class="subtitle">Вы выбрали место под номером {{ selectedTicket }}</p>
              
              <div class="buy-ticket">
                <b-button @click="buyTicket" type="is-success" :disabled="!phone">Купить</b-button>
                <b-field
                    label="Введите номер вашего телефона"
                >
                    <b-input v-model.trim="phone"></b-input>
                </b-field>
              </div>
            </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedTicket: null,
      phone: ''
    }
  },
  computed: {
    session () {
      return this.$store.getters.current_session
    },
    seats () {
        const seatsDetailed = []

        for(let seatNumber = 1; seatNumber <= this.session.max_seats; ++seatNumber) {
            seatsDetailed.push({
                seatNumber,
                isOccupied: this.session.occupied_seats.some(occupiedSeatNumber => occupiedSeatNumber === seatNumber)
            })
        }

        return seatsDetailed
    },
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.commit('set_current_session', null)
        const sessionId = to.params.id
        vm.$store.dispatch('fetch_session_by_id', { sessionId })
    })
  },
  methods: {
    goBack() {
      this.$router.push('/')
    },
    selectTicket (seat) {
      this.selectedTicket = seat.seatNumber
    },
    isSelected (seat) {
      return this.selectedTicket === seat.seatNumber
    },
    async buyTicket() {
      const sessionId = this.session._id

      const ticketBody = {
        session_id: sessionId,
        phone: this.phone,
        date: new Date(),
        cost: this.session.cost,
        seat: this.selectedTicket
      }

      await this.$store.dispatch('buy_ticket', ticketBody)
      await this.$store.dispatch('fetch_session_by_id', { sessionId })

      this.selectedTicket = null
      this.phone = ''

      this.$buefy.snackbar.open(`Билет успешно куплен!`)
    }
  }
}
</script>

<style lang="scss">
  .user.occupied_seats {
    .seat--occupied {
      background: rgb(119, 119, 119);
      opacity: 0.5;
      pointer-events: none;
      &:hover {
        opacity: 0.5;
      }
    }

    .seat--selected {
      transition: 0.2s;
      background: rgb(81, 102, 170);
      box-shadow: 1px 1px 1px rgb(89, 95, 96);
      color: white;
    }
  }

  .buy-ticket {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

</style>